@font-face {
	font-family: "AvenirMedium";
	font-style: normal;
	src: url("../assets//fonts/Avenir-Medium.ttf");
	font-display: swap;
}

@font-face {
	font-family: "AvenirBlack";
	font-style: normal;
	src: url("../assets/fonts/Avenir-Black.otf");
	font-display: swap;
}

.TS-images-section-outer-wrapper {
	display: flex;
	flex-flow: column;
	width: 15vw;
	height: 25vw;
	margin: 1.5vw;
	transition: all ease 0.5s;
}

.TS-images-section-outer-wrapper-btn {
	display: flex;
	flex-flow: column;
	width: 15vw;
	height: 4vw;
	margin: 1.5vw;
	transition: all ease 0.5s;
}

.similar-items-inner-details-container {
	display: flex;
	flex-direction: column;
	height: 20%;
}

.similar-header {
	display: flex;
	justify-content: flex-start;
	padding: 4% 4% 2%;
	margin-top: 1vw;
	font-family: "AvenirBlack";
}

.similar-item-name {
	font-family: "AvenirMedium";
	font-weight: 500;
	font-size: 10px;
}

.similar-item-price {
	font-family: "AvenirBlack";
	font-weight: 900;
	font-size: 13px;
	margin: 0;
}

.similar-items-inner-details-container p {
	padding: 2%;
	font-weight: 700;
	margin-bottom: 0;
}

.PS-sectionTitle {
	margin-bottom: 0;
}

.similar-items-inner-container {
	display: flex;
	flex-flow: column;
	/* flex: 0 1 44%; */
	box-sizing: border-box;
	width: 13vw;
	height: 25vw;
	margin: 1vw;
}
.similar-items-inner-container .TS-images {
	border-radius: 2%;
}

.homeImage {
	opacity: 0.6;
}

.similarImage {
	height: 80% !important;
}

.TS-images,
.TS-images-active {
	border-radius: 5%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all ease 1s;
}

.TS-images-active {
	box-shadow: 0 10px 6px -6px #777;
	opacity: 1 !important;
}

.TS-images-section-outer-wrapper .TS-images:hover,
.TS-images-active:hover {
	cursor: pointer;
}
.app-container {
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
}

.similar-container {
	height: 100vh;
	width: 100vw;
}

.similar-cloth-container {
	flex: 0 1 50%;
}

.similar-items-container {
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
}

.simpleBarSimilar {
	max-height: calc(100vh - 4vw) !important;
}

.simpleBarHome {
	margin: 0 2vw;
	max-height: 100vh !important;
}

.homeContainer {
	display: flex;
	width: 82.5%;
	margin: 0% auto;
}

.PS-inner-container-btn {
	border-radius: 7%;
	border: 1px solid lightgrey;
	color: white;
	background-color: #fd6861;
	outline: none;
	cursor: pointer;
	transition: transform 0.1s ease-in;
}
.PS-inner-container-btn:hover {
	transform: scale(0.98);
}
